*{padding: 0%; margin: 0%; box-sizing: border-box;}
        body {
            background-color: rgb(199, 196, 196);
            
        }
        #container {
            display: inline-flex;
            margin-top: 15px;
        }
        .Box {
            width: 300px;
            height: 400px;
            background-color:whitesmoke;
            border-radius: 8px;
            justify-content: center;
            overflow: hidden;
            text-align: justify;
            box-shadow: 10px 10px 8px #888888;
            padding: 5px;
            font-family:Verdana;
            font-size: 14px;
            margin-left: 22px;
            display: block;
               }
        #image img{
        
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            padding-top: 10px;
            display: block;
        }
        
        #read_more  {
            position: absolute;
            justify-content: center;
            padding-left: 90px;
            padding-right: 90px;
            padding-top: 14px;
            padding-bottom: 14px;
            border-radius: 10px;
            background-color: red;
            margin: 12px 16px;
            height: 38px;
            margin-bottom: 10px;
            
        }
        #read_more:hover {
            background-color: blue;
        }
        #read_more a{
            color: white;
        }
       h2{
           padding-top: 15px;
       }
       #heading
       {
           text-align: center;
           padding: 6px;
            margin: 5px;
       }